.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.log
*.tex
*.toc
*.rds
*.RData
*.7z
*.csv
*.err
*.out
*.aux
*.bbl
*.blg
*.rdb
data/hakear/simulations/*.rds
!data/hakear/simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!data/hakear/simulations/supplementary/one-gran/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!data/hakear/simulations/norm/null_design_quantrans_nperm/data-agg/all_data_wpd_Gamma21.rds
!data/hakear/simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!data/hakear/simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!data/hakear/simulations/supplementary/one-gran/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!data/hakear/simulations/norm/null_design_quantrans_nperm/data-agg/all_data_wpd_N01.rds
cache-*/
/figure
signature.png
img/*.png
.DS_Store
*.log
*.run.xml
.Rproj.user
*.bbl
thesis\.tex
report/ExaminerReports.pdf

