.Rproj.user
.Rhistory
.RData
.Ruserdata
*.html
*.log
*.tex
*.toc
*.rds
*.RData
*.7z
*.csv
*.err
*.out
*.aux
*.bbl
*.blg
*.rdb
simulations/*.rds
!simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!simulations/supplementary/one-gran/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!simulations/norm/null_design_quantrans_nperm/data-agg/all_data_wpd_Gamma21.rds
!simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!simulations/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!simulations/supplementary/one-gran/raw/null_design_quantrans/data-agg/all_data_wpd_N01.rds
!simulations/norm/null_design_quantrans_nperm/data-agg/all_data_wpd_N01.rds

